@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  margin: 1rem;
  background-color: whitesmoke;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13rem ;
}

.intro-section {
  min-width: 18rem;
  max-width: 35rem;
  text-align: center;
  margin: 2rem;
  font-size: 25px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  float: left;
}

.navbar-element {
  padding: 1rem;
}

.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  box-shadow:
  2.5px 12.3px 10px rgba(0, 0, 0, 0.016),
  20px 98px 80px rgba(0, 0, 0, 0.07);
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  max-width: 25rem;
  margin: 1rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow:
  2.5px 12.3px 10px rgba(0, 0, 0, 0.016),
  20px 98px 80px rgba(0, 0, 0, 0.07);
  width: 20rem;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 7rem;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-c {
  border: 0.5px solid black;
  border-radius: 5px;
  height: 2rem;
  width: 17rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  position: relative;
  outline: none;
}

.input-c.name:focus + .placeholder {
  top: 85px;
  background-color: #fff;
}

.input-c.name:valid + .placeholder.name:valid {
  top: 85px;
  background-color: #fff;
}

.input-c.email:focus + .placeholder {
  top: 150px;
  background-color: #fff;
}

.input-c.message:focus + .placeholder {
  top: 215px;
  background-color: #fff;
}

.input-c.message {
  height: 5rem;
}

.submit-btn {
  width: 6rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background:rgb(20, 112, 205);
  color: white;
  padding: 0.5rem 1rem;
}

.placeholder{
  color: #666;
  position: absolute;
  transition: 0.2s;
  pointer-events: none ;
}

.placeholder.name {
  top:110px;
  left: 40px;
}

.placeholder.email {
  top: 175px;
  left:40px;
}

.placeholder.message {
  top: 235px;
  left: 40px;
}