body {
  margin: 1rem;
  background-color: whitesmoke;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13rem ;
}

.intro-section {
  min-width: 18rem;
  max-width: 35rem;
  text-align: center;
  margin: 2rem;
  font-size: 25px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left {
  display: flex;
  flex-direction: row;
}

.narbar-right {
  justify-content: right;
}

.navbar-element {
  padding: 1rem;
}

.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  box-shadow:
  2.5px 12.3px 10px rgba(0, 0, 0, 0.016),
  20px 98px 80px rgba(0, 0, 0, 0.07);
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  max-width: 25rem;
}